.aside {
    grid-area: aside;
    background-color: #95BDFF;
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    justify-content: start;
}
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #95BDFF;
}

::-webkit-scrollbar-thumb {
    background-color: #65647C;
    border-radius: 2px;
}

::-webkit-scrollbar-corner {
    background-color: #95BDFF;
}

.item {
    display: flex;
    flex-direction: column;
}

.item:not(:last-child) {
    margin-bottom: 10px;
    width: 100%;
}

.item a {
    text-decoration: none;
    color: #65647C;
    cursor: pointer;
    display: block;
    border-radius: 5px;
    padding-left: 10px;
    font: menu;
}

.item a:hover {
    color: grey;
    box-shadow: 0 3px 10px grey;
}

.item a.active {
    color: black;
    background-color: goldenrod;
    box-shadow: 0 3px 10px grey;
}

.friendsAside {
    width: 200px;
    display: flex;
    overflow: scroll;
}

.friendItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.friendItem:not(:last-child) {
    margin-right: 10px;
}

.friendsAside img {
    aspect-ratio: 1;
    object-fit: revert;
    max-height: 60px;
    width: 60px;
    border-radius: 35px;
    margin-bottom: 5px;
}

.friendsName {
    font-size: 12px;

}